.account-page__container {
    width: calc(100% - 50px);
    padding-top: 80px;
    margin-left: 25px;
    height: calc(100vh);
}

.account-page__container > .MuiPaper-root {
    background-color: white;
}

.account-page__title {
    color: #455a63 !important;
    font-weight: 700 !important;
    box-shadow: none !important;
}

.account-page__content {
    height: calc(100% - 110px);
    margin-top: 30px;
    border-radius: 0 !important;
}

.account-page__card-title {
    margin-top: 20px;
    color: #455a63 !important;
}

.account-page__card-content {
    width: calc(100% - 40px);
    margin: auto;
}

.account-page__card-item {
    font-size: 14px;
    color: #455a63 !important;
    margin-bottom: 15px;
}

.span-value {
    color: #0d1a63;
    margin-left: 10px;
}

.span-link {

}

.account-page__modal-container {
    width: 500px;
    height: 400px;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
    position: absolute;
    background: white;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.account-page__modal-container > div.MuiPaper-root {
    height: 271px;
}

.account-page__input-field {
    width: 300px;
    margin: 20px 100px 0px 100px !important;
}

.account-page__modal-footer {
    background-color: white !important;
}

.account-page__modal-footer > div {
    justify-content: flex-end !important;
}

.account-page__modal-footer button {
    margin-right: 10px;
}

.account-page__modal-overlay {
    opacity: 0.8;
}

.account-page__modal-loading {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
}