.forgot-password__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.forgot-password__container {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    min-width: 300px;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--gray) 0px 1px 15px 1px;
}

.forgot-password__title {
    color: var(--dark-gray);
    font-size: 13px;
}

.forgot-password__form-group {
    position: relative;
    margin: var(--form-spacing-large-unit) 0;
}

.forgot-password__form-input {
    display: block;
    width: 100%;
    height: var(--form-input-medium-height);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.forgot-password__input-icon {
    position: absolute;
    right: 25px;
    top: 13px;
    font-size: 1.25rem;
    color: var(--form-input-placeholder-color);
}

.forgot-password__form-button {
    width: 100%;
}

.forgot-password__signup-container {
    margin: 3rem -2rem 0;
    padding: 1.5rem 0;
    background-color: var(--fluent-gray);
    text-align: center;
}

.forgot-password__signup-link {
    margin-left: 5px;
    color: var(--font-light-blue);
}

.forgot-password__forgot-password {
    color: var(--font-light-blue);
    text-align: right;
    margin-top: 10px;
    font-weight: 300;
    cursor: pointer;
}

@media (max-width: 1180px) {
    .forgot-password__signup-link {
        display: block;
        margin-top: 10px;
    }
}