.header__toolbar {
  display: flex;
  justify-content: space-between;
}

.header__left-bar {
  display: flex;
  align-items: center;
}

.header__left-bar h6 {
  font-weight: 600;
}

.header__profile-menu-container {
  z-index: 9999 !important;
}

.header__profile-menu-container .MuiPaper-root {
  position: absolute;
  top: 50px !important;
  z-index: 9999 !important;
  left: unset !important;
  right: 20px !important;
  width: 150px;
  border-radius: 0;
}