.login__wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.login__container {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  min-width: 300px;
  padding: 2rem 2rem 2rem 2rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--gray) 0px 1px 15px 1px;
}

.login__container-loading {
  position: fixed;
  z-index: 9999;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

.login__container--loading {
  opacity: 0.5;
}

.login__form-group {
  position: relative;
  margin: var(--form-spacing-large-unit) 0;
}

.login__form-input {
  display: block;
  width: 100%;
  height: var(--form-input-medium-height) !important;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.login__input-icon {
  position: absolute;
  right: 25px;
  top: 13px;
  font-size: 1.25rem;
  color: var(--form-input-placeholder-color);
}

.login__form-button {
  width: 100%;
}

.login__forgot-password {
  color: var(--font-light-blue);
  text-align: right;
  margin-top: 10px;
  font-weight: 300;
  cursor: pointer;
}
