.new-campaign__container {
    width: calc(100% - 100px);
    padding-top: 100px;
    margin-left: 50px;
}

.new-campaign__container > .MuiPaper-root {
    background-color: white;
}

.new-campaign__content {
    margin-top: 30px;
}

.new-campaign__title {
    color: #455a63 !important;
    font-weight: 700 !important;
    box-shadow: none !important;
}

.file-upload-input {
    height: 0;
    visibility: hidden;
}

.new-campaign__content-row {
    padding-left: 20px;
    padding-top: 30px;
}

.new-campaign__content-row > div {
    margin-right: 30px;
    margin-left: 10px;
    min-width: 60px;
}

.new-campaign__content-row > a {
    font-size: 14px;
    margin-left: 20px;
}

.new-campaign__select {
    width: 150px;
}