.overview__container {
    width: calc(100% - 100px);
    padding-top: 100px;
    margin-left: 50px;
}

.overview__container > .MuiPaper-root {
    background-color: white;
}

.overview__title {
    color: #455a63 !important;
    font-weight: 700 !important;
    box-shadow: none !important;
}
