.main-layout__side-bar svg {
  width: 20px !important;
  color: white;
}

.main-layout__side-bar span {
  font-size: 13px;
  color: white;
}

.main-layout__side-bar .MuiListItemIcon-root {
  min-width: 35px;
}

.main-layout__side-bar .MuiCollapse-wrapper .MuiButtonBase-root {
  padding-left: 40px;
}

.main-layout__side-bar .MuiDivider-root {
  margin: 0 10px !important;
}