.check-list__wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.check-list__container {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    min-width: 300px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--gray) 0px 1px 15px 1px;
}

.check-list__form-group {
    position: relative;
    margin: var(--form-spacing-large-unit) 0;
}

.check-list__form-input {
    display: block;
    width: 100%;
    height: var(--form-input-medium-height);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.check-list__input-icon {
    position: absolute;
    right: 25px;
    top: 13px;
    font-size: 1.25rem;
    color: var(--form-input-placeholder-color);
}

.check-list__label-container--daily {
    display: flex;
    justify-content: center;
}

.check-list__label--daily {
    color : var(--font-light-blue);
}

.check-list__title {
    color: var(--dark-gray);
}

.check-list__form-button {
    width: 100%;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value {
    background: red; }
  
meter[value="2"]::-webkit-meter-optimum-value {
background: yellow; }

meter[value="3"]::-webkit-meter-optimum-value {
background: orange; }

meter[value="4"]::-webkit-meter-optimum-value {
background: green; }